* {
    margin: 0;
    padding: 0;
}

/* header */

header{
    width: 100%;
    background-color: #86A69D;
}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A3ACB5;    
    height: 2em;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    font-weight: bold;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    z-index: 100;
}

.navbar li{
    list-style: none;
}

.navbar a{
    color: white;
    text-decoration:none;
}

.navbar a:hover{
    color: black;
    text-decoration:underline;
}

.active_link{
    color: black;
}

.big_title {
    text-align: center;
    color: white;
    font-family: "Amatic SC", sans-serif;
    font-size: 90px;
    padding-top: 6rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.déconnection{
    padding: 2rem;
}

.déconnection form{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:760px) {

    .navbar{
        flex-wrap: wrap;
        height: 2.5em;
    }

    .navbar li{
        width: 40%;
        text-align: center;
    }
}

/* body */


h2 {
    text-align: center;
    margin-bottom: 50px;
    font-family: "amatic sc", cursive;
    font-size: 75px;
    font-style: normal;
    color:#FF968A;

}

h3 {
    font-size: 60px;
    font-family: "Amatic SC";
    color: #FA9F98;
    text-align: center;
}

img {
    border-radius: 10%;
}

/*carousel*/

#slideshow {
    position: relative;
    width: 640px;
    height: 310px;
    padding: 15px;
    margin: 0 auto 2em;
    border: 1px solid #ddd;
    background: #FFF;
    /* CSS3 effects */
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

#slideshow:before,
#slideshow:after {
    position: absolute;
    bottom:16px;
    z-index: -10;
    width: 50%;
    height: 20px;
    content: " ";
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
}
#slideshow:before {
    left:0;
    transform: rotate(-4deg);
}
#slideshow:after {
    right:0;
    transform: rotate(4deg);
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0px;
    font-size: 0;
    text-align: left;
}

#slideshow img {
    border-radius: 0%;
}

.slider figure img { width: 20%; height: 310px; float: left; }

.slider { width: 100%; max-width: 1000px; overflow: hidden; }

@keyframes slider {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 15s slider infinite;
}

@media screen and (max-width:760px) {

    #slideshow {
        display: none;
    }

}

/* index */

.bio_photo{
    width: 80%;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bio{
    width: 30%;
    text-align: justify;

}

.photo-rocket{
    width: 30%;
    height: 30rem;
    margin: 3rem 0;
}

@media screen and (max-width:760px){
    .bio_photo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .photo-rocket{
        width: 80%;
    }

    .bio {
        width: 80%;
    }
}

/*portfolio*/

h4 {
    font-size: 40px;
    text-align:center;
    margin: 0.8em;
    font-family: 'Amatic SC', cursive;
    color: #FF968A;
}

p {
    color: rgb(135, 140, 146);
    font-size: 20px;
}

.adventure p {
    text-align: center;
    margin: 0 2em;
}

.myPicture img {
    width: 100%;
    box-shadow: 10px 5px 5px rgb(148, 147, 147);
    border-radius: 5%;
}

.presentation p, .adventure {
    text-align: center;
}

.containerimg {
    margin-top: 1.5em;
    width: 70%;
}

.background {
    background-image: url(image/backgroundT.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.grid {
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin: 3em auto;
     text-align: center;
     width: 80%;
}

.img-chemin img {
 width: 100%;
 box-shadow: 10px 5px 5px rgb(148, 147, 147);
 border-radius: 8px;
 opacity: 1;
}

.dot img {
width: 100%;
}

.overlay-image {
    position: relative;
    width: 100%;
}
.overlay-image .text {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
   }

.overlay-image:hover .hover {
opacity: 1;
}

.myPicture {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.adventure img {
    margin: 1.5em;
    width: 40%;
}

hr {
    color: rgb(148, 147, 147, 0.7);
}

@media screen and (max-width:760px) {

    h3 {
        font-size: 50px;
    }

    h4 {
        font-size: 35px;
        text-align: center;
        margin: 2em;
        text-transform: uppercase;
    }

    .grid {
        display: flex;
        flex-flow: column wrap;
    }

    .dot {
        display: none;
    }

    img {
        margin: 0.5em 0;
    }

    .adventure img, img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .overlay-image .text {
        font-size: 50px;
    }

    .background {
        background-image: none;
    }

    .container {
        width: 90%;
    }

    .form-style-7 li > span{font-size: 25px;} ;

    .containerimg {
        width: 95%;
    }

}

/*article*/

.containerimg {
    border: ridge 2px black ;
    border-radius: 6px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.effect {
    width: 40%;
    border-radius: 6px;
}

.effect:hover {
    width: 40%;
    border-radius: 6px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

@media only screen and (max-width: 600px) {
    #artice {
        display: flex;
        flex-flow: column wrap;
        width: 95%;
    }

    .effect {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: 1em;
    }

    p {
        margin: auto;
        text-align: center;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 35px;
    }


}

/*contact*/

.contact-background{
    min-height: 100vh;
    margin: 0;
    padding: 2rem;
    background-color: rgb(255,255,255,0.6);
    background-image: url(https://images.pexels.com/photos/569098/pexels-photo-569098.jpeg?cs=srgb&dl=analogique-appareil-photo-classique-concentrer-569098.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-color: black;
    border:solid 5px;
    border-radius: 10%;
    background-color:#A3ACB5;
    opacity:0.8;
    width: 70%; 
}

.form-style-7 ul{
	list-style:none;
	padding:50px;
	margin:0;	
}

.form-style-7 :first-child{
	text-align: center;
}


.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}

.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -10px;
	height: 14px;
	padding: 2px 5px 2px 5px;
	font-size: 16px;
	overflow: hidden;
	
}

.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 20px;
	padding: 0;
}

.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}

.form-style-7 textarea{
    height: 150px;
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background:grey;
	border: none;
	padding: 10px 20px 10px 20px;
	font-size: 20px;	
	border-radius: 3px;
	color:whitesmoke;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background:#FA9F98;
	color:black;
}

.errors{
    color: red;
}
.message_envoie{
    margin-bottom: 2em;
}

.message_envoie p {
    color:black;
    text-align: center;
}

/*connection*/

.hr-login{
    border-top: 2px solid white;
}

.login{
    display: flex;
    justify-content: center;
    background-color: #86A69D;
    min-height: calc(100vh - 600px);
}

.login-field{
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.login-field label,
.login-field input{
    width: 20rem;
    padding: 0.5rem;
    margin: 1px auto;

}

.login-field button{
    width: 10rem;
    padding: 0.5rem;
    margin: 2rem auto;
}


/*footer*/

footer {
    background-color:#86A69D;
    color: white;
    height: 10%;
    padding-bottom: 2em;
    display:flex;
    justify-content:  space-around;
    font-family: "Amatic SC", sans-serif;
    font-size: 25px;
}

footer li {
    list-style: url('image/linkedin.png');
    list-style-position: inside;
    margin-left: 1em;
}

footer a{
    color: white;
    text-decoration:none;
}

footer a:hover{
    color: black;
    text-decoration:underline;
}

.footer_title{
    text-align:left;
    margin:1em;
    font-size: 30px;
}

.favorite_link{
    display:flex;
    justify-content: space-around;
}

.favorite_link li{
    text-align: left;
}

.copyright{
    display: flex;
    flex-direction: column;
}

.copyright a, .copyright p{
    text-align: center;
    margin: 0.5em 0;
}

.copyright p {
    color: black;
}


@media screen and (max-width:760px) {

    .link{
        flex-direction: column;
    }

    .me_suivre li{
        padding-bottom: 2em;
        text-align: center;
    }
    .big_title{
        padding-bottom: 0.5em;
    }

    .copyright a, .copyright p{
        margin:0;
    }

    .footer_title{
        margin:0.5em;

    }

    footer {
        padding-bottom: 0em;
    }

}



